@page "/acceuil"
@inject NavigationManager Navigation
@layout MainLayout

<div class="welcome-container">
    <h1>Bienvenue !</h1>
    <img src="images/images.png" alt="Logo" class="logo" />
</div>

<style>
    .welcome-container {
        text-align: center;
        padding: 2rem;
    }

    .logo {
        width: 150px;
        height: auto;
        display: block;
        margin: 1rem auto;
    }
</style>
